@model IEnumerable<DRHC.Models.Feedback>

@{
    ViewData["Title"] = "List";
}
@*
    Author: Artem Nahornyi
    Feedback form
*@
@*<div>MY USER INFORMATION IS @ViewData["UserInfo"]</div>*@
<div id="feedback_wrapper">
    <div class="row">
        <h2 class="FeedbackH2 col-md-10">Feedback</h2>
        <div class="FeedbackH2 col-md-2">
            <span class="btn btn-default">@Html.ActionLink("Add new", "Create")</span>
        </div>
    </div>

    <div class="row">
        @foreach (var feedback in Model)
        {
            <div class="group_container col-md-12">
                <p class="FedbackAuthorName">
                    Author: <span class="strong"> @feedback.AuthorFName  @feedback.AuthorLName</span>
                </p>
                <div class="FedbackAuthorMessage">@feedback.AuthorMessage</div>


                @* admin key string *@
                @{
                    string admin = "112cfee3-e07d-491c-8cc3-5acb329d297f";
                }


                @if (ViewData["UserInfo"] == null)
                {

                }
                else if (ViewData["UserInfo"].ToString() == admin)
                {
                    <div>
                        <span class="btn btn-success">Approve</span>
                        <span class="btn btn-info">@Html.ActionLink("Edit", "Edit", new { id = feedback.FeedbackID })</span>
                        <span class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = feedback.FeedbackID })</span>
                    </div>
                }
            </div>

        }
    </div>
</div>