@model IEnumerable<DRHC.Models.Faq>
@{
    ViewData["Title"] = "List";

}

@*
    <div class="jumbotron">

        <div class="pagination">

            @ViewData["PaginationSummary"]

            @Html.ActionLink("Prev",

                "List",

                "Faq",

                new { pagenum= ((int)ViewData["pagenum"]-1)}

                )

            |

            @Html.ActionLink("Next",

                "List",

                "Faq",

                new { pagenum = ((int)ViewData["pagenum"] + 1) }

                )

        </div>*@



<div id="r_box">
    @foreach (var Faqs in Model)
    {
        <div class="test">
            <div class="row">
                <div class="col-lg-10">
                    @Faqs.Questions<br />
                    @Faqs.Answers<br />

                </div>
                <div class="col-lg-2">

                    @Html.ActionLink("Edit", "Edit", "Faq", new { id = Faqs.FaqID })

                    <a href="@Url.Action("Delete/"+ Faqs.FaqID  )"><i class="far fa-trash-alt">Delete</i></a>
                </div>
            </div>
        </div>
    }
</div>