@model IEnumerable<DRHC.Models.Faq>
@{
    ViewData["Title"] = "Show";
}


@*
    <div class="jumbotron">

        <div class="pagination">

            @ViewData["PaginationSummary"]

            @Html.ActionLink("Prev",

                "List",

                "Faq",

                new { pagenum= ((int)ViewData["pagenum"]-1)}

                )

            |

            @Html.ActionLink("Next",

                "List",

                "Faq",

                new { pagenum = ((int)ViewData["pagenum"] + 1) }

                )

        </div>*@

<h2 class="text-center"><span style="color:#03a9f5"> Frequently Asked Questions</span></h2>

@foreach (var Faqs in Model)
{
    <div class="test">
        <div class="row">
            <div class="col-lg-10">
                @Faqs.Questions<br />
                @Faqs.Answers<br />

            </div>
        </div>
    </div>
}








