@model IEnumerable<DRHC.Models.VolunteerPosition>

@{
    ViewData["Title"] = "ListVolunteerPositions";
}

<h2>ListVolunteerPositions</h2>

<p>
    <a asp-action="AddVolunteerPosition">Add a Position</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PostTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AboutOrg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Experience)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Education)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutOrg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VolunteerPostingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VolunteerPostingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VolunteerPostingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
