@model IEnumerable<DRHC.Models.Alerts>

@{
    ViewBag.Title = "List";
}
@* 
   Author: Artem Nahornyi 
   Emergency Alert message
*@
@*
    To get user key string
    <div>MY USER INFORMATION IS @ViewData["UserInfo"]</div>*@
<div class="row">
    @foreach (var alerts in Model)
    {
    <div class="group_container col-md-12 w3-panel w3-pale-red w3-border" align="center" id="alert_redBox">
        <h3 class="title">
            @alerts.AlertTitle
        </h3>
        <p>@alerts.AlertMessage</p>

        @* admin key string *@
        @{
            string admin = "112cfee3-e07d-491c-8cc3-5acb329d297f";
        }

        @* Only admin will be able to see these content *@
        @if (ViewData["UserInfo"] == null)
        {

        }
        else if (ViewData["UserInfo"].ToString() == admin)
        {
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = alerts.AlertID }) |
                @Html.ActionLink("Delete", "Delete", new { id = alerts.AlertID })
            </div>
        }

    </div>
    }
</div>