@model DRHC.Models.ViewModels.TestimonialEdit

@{
    ViewData["Title"] = "Edit";
}

<div id="r_box">
<h2 class="text-center">Edit</h2>

<form method="POST" action="/Testimonial/Edit/@Model.Testimonial.TestimonialID">
    <div class="row">
        <div class="inprow col-lg-12">
            <div class="inprow col-lg-12">
                <label class="inplabel col-lg-5">Submitted by</label>
                <p>@Model.Testimonial.UserFName @Model.Testimonial.UserLName</p>
            </div>
            <div class="inprow col-lg-12">
                <label class="inplabel col-lg-5">Email</label>
                <p>@Model.Testimonial.Email</p>
            </div>

            <label class="inplabel col-lg-5">Title</label>
            <p>@Model.Testimonial.Title</p>
        </div>
        <div class="inprow col-lg-12">
            <label class="col-lg-5">Status</label>
            <select id="TestimonialStatusID" name="TestimonialStatusID">
                @foreach (var status in Model.TestimonialStatuss)
                {
                    @if (status.TestimonialStatusID == Model.Testimonial.TestimonialStatus.TestimonialStatusID)
                    {
                        <option value="@status.TestimonialStatusID" selected="selected">@status.TestimonialStatusName</option>
                    }
                    else
                    {
                        <option value="@status.TestimonialStatusID">@status.TestimonialStatusName</option>}

                }

            </select>
        </div>

        <div class="inprow col-lg-12">
            <label class="inplabel col-lg-5">Story</label>
            <p>@Model.Testimonial.Story</p>
        </div>

        <div class="inprow col-lg-12">

            <div class="inprow text-center">
                <input class="btn btn-success" type="submit" value="Submit" />
                <span class="btn btn-primary"  style="background-color:#03a9f5;">
                    @Html.ActionLink("Back To list", "List", "Testimonial")
                </span>

            </div>
        </div>
    </div>
</form>
</div>