@model IEnumerable<DRHC.Models.Testimonial>
@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

@foreach (var Testimonials in Model)
{
<div class="test">
    <label> @Html.ActionLink(Testimonials.Title, "Show", "Testimonial", new { id = Testimonials.TestimonialID })</label>
    <a href="@Url.Action("Delete/"+Testimonials.TestimonialID   )"><i class="far fa-trash-alt">Edit</i></a>
    <span class="del">
        <a href="@Url.Action("Delete/"+Testimonials.TestimonialID   )"><i class="far fa-trash-alt">delete</i></a>
    </span>

    <p>submitted by @Testimonials.UserFName   @Testimonials.UserLName</p>

   <p>Status : @Testimonials.TestimonialStatusID </p>
</div>
}

