@model IEnumerable<DRHC.Models.Testimonial>
@{
    ViewData["Title"] = "List";
}

<h2>List</h2>
<ul id="paginate" class="pagination">

    <li class="page-item"> @Html.ActionLink("Prev", "List", "Order", new { pagenum = ((int)ViewData["pagenum"] - 1) })</li>
    <li class="page-item "><a> @ViewData["PaginationSummary"]</a></li>
    <li class="page-item"> @Html.ActionLink("Next", "List", "Order", new { pagenum = ((int)ViewData["pagenum"] + 1) })</li>
</ul>

@foreach (var Testimonials in Model)
{
    <div class="test">
        <span class="del">


            @Html.ActionLink(Testimonials.Title, "Show", "Testimonial", new { id = Testimonials.TestimonialID })

            @Html.ActionLink("Edit", "Edit", "Testimonial", new { id = Testimonials.TestimonialID })

            <a href="@Url.Action("Delete/"+Testimonials.TestimonialID)"><i class="far fa-trash-alt">delete</i></a>
        </span>

        <p>submitted by @Testimonials.UserFName   @Testimonials.UserLName</p>

        <p>Status : @Testimonials.TestimonialStatus.TestimonialStatusName </p>
    </div>
}

