@model DRHC.Models.Testimonial

@{
    ViewData["Title"] = "New";
}


<div id="r_box">
    <h2 class="text-center">Add a Testimonial</h2>
    <form method="POST" action="/Testimonial/Create">
        <div class="row">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="inprow col-lg-12">
                <label class="inplabel col-lg-4">Fisrt Name</label>
                @*                    <input id="UserLName" name="UserFName" />*@
                @Html.EditorFor(model => model.UserFName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserFName, "", new { @class = "text-danger" })


            </div>
            <div class="inprow col-lg-12">
                <label class="inplabel col-lg-4">Last Name</label>
                @Html.EditorFor(model => model.UserLName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserLName, "", new { @class = "text-danger" })

            </div>
            <div class="col-lg-12">
                <label class="inplabel col-lg-4">Email</label>

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

            </div>
            <div class="inprow col-lg-12">
                <label class="inplabel col-lg-4">Title</label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

            </div>

            <div class="inprow col-lg-12">
                <label class="inplabel col-lg-4">Story</label>
                @Html.EditorFor(model => model.Story, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.Story, "", new { @class = "text-danger" })

            </div>
            <div class="inprow text-center  col-lg-12">
                <input class="btn btn-success" type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>
