
@{
    ViewData["Title"] = "List";
}

<h2>Ecards List</h2>

@foreach (var Ecard in Model)
{
    <div> @Ecard.EcardID</div>
    <div> @Ecard.PatientName</div>
    <div> @Ecard.Department</div>
    <div> @Ecard.RoomNo</div>
    <div> @Ecard.SenderName</div>
    <div> @Ecard.SenderEmail</div>
    <div> @Ecard.Message  </div>
}

