@model IEnumerable<DRHC.Models.TipAndLetter>
@{
    ViewData["Title"] = "List";
}

<h2>List</h2>
@Html.ActionLink("Add new", "New", "TipAndLetter")
<div id="paginate">
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
        "List",
        "Testinomial",
        new { pagenum = ((int)ViewData["pagenum"] - 1) }
        )
    |
    @Html.ActionLink("Next",
        "List",
        "Testinomial",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
    )
</div>

@foreach (var tl in Model)
{
<div class="test">
    <div class="row">
        <div class="col-sm-6">
            @Html.ActionLink(tl.Title, "Show", "TipAndLetter", new { id = tl.TipAndLetterID })
            <p>Type : @tl.Tag.TagName</p>

            <p>Status : @tl.TipStatus.TipStatusName </p>
        </div>
        <div class="col-sm-pull-4">

            @Html.ActionLink("Edit", "Edit", "TipAndLetter", new { id = tl.TipAndLetterID })

            <a href="@Url.Action("Delete/"+tl.TipAndLetterID)"
               onclick="return confirm('Are you sure you wish to delete this article?');"><i class="far fa-trash-alt">delete</i></a>
        </div>

    </div>
 </div>
    }

